package product

import "context"

type GetProductRequest struct {
	ID string `params:"id" validate:"required,uuid4"`
}

type GetProductHandler struct {
	repo Repository
}

func NewGetProductHandler(repo Repository) *GetProductHandler {
	return &GetProductHandler{repo: repo}
}

func (h *GetProductHandler) Handle(ctx context.Context, req *GetProductRequest) (*ProductResponse, error) {
	p, err := h.repo.Get(ctx, req.ID)
	if err != nil {
		return nil, err // domain.ErrProductNotFound -> 404
	}
	return toResponse(p), nil
}
